/1Ejercicio/node_modules
/2Ejercicio/node_modules
/3Ejercicio/node_modules
/4Ejercicio/node_modules
/5Ejercicio/node_modules
/6Ejercicio/node_modules
/7Ejercicio/node_modules
/8Ejercicio/node_modules
/Extra/node_modules